<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Cart</h1>
  </div>
</section>

<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Product</th>
              <th scope="col">Available</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col" class="text-right">Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @cart.line_items.each do |line_item| %>
              <tr>
                <td><%= link_to line_item.product do%>
                  <% if line_item.product.image.present? %>
                    <%= image_tag line_item.product.image , size:"90x90"%>
                  <% else %>
                    <%= image_tag "no_image.png", size:"90x90" %>
                  <%end%>
                <%end %>
                x
                <%= line_item.quantity %>
              </td>
              <td><%= line_item.product.name %></td>
              <td>In stock</td>
              <td class="text-center">
                <!-- reduce -->
                <%= link_to "Reduce",line_item_reduce_path(:id => line_item) , method: :post, class: "btn btn-danger" , style: "margin-top:15px;" %>
                <i class="glyphicon glyphicon-minus" style="color:white;"></i>

              <!-- add -->
              <%=link_to "Add",line_item_add_path(:id => line_item) , method: :post , class: "btn btn-success" , style: "margin-top:15px;" %>
              <i class="glyphicon glyphicon-plus" style="color:white;"></i>
              
              </td>
              <td class="text-right"><%= line_item.product.price %>
              ₹</td>
              <td class="text-right">
              <!-- Remove -->
              <%=link_to "Remove",line_item_path(line_item) ,method: :delete ,class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
              <i class="fa fa-trash"></i>
              </td>
              </tr>

            <% end %>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Sub-Total</td>
              <td class="text-right">₹ <%= @cart.sub_total %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Shipping</td>
              <td class="text-right">free</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <strong>Total</strong>
              </td>
              <td class="text-right">
                <strong>₹ <%= @cart.sub_total %></strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-4">
          <%= button_to "Continue Shopping", root_path , class: "btn btn-block btn-light" , method: :get%>
        </div>
        <% if(@current_cart.line_items.count !=0 ) %>
          <div class="col-sm-12  col-md-4">
            <%= button_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"} , class: "btn btn-lg btn-block btn-warning text-uppercase"%>
          </div>
          <div class="col-sm-12 col-md-4 text-right">
            <%= button_to "Checkout" , method: :get,class: "btn btn-lg btn-block btn-success text-uppercase"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
