<h1><%= link_to "Basket", cart_path(@current_cart), method: :get, class: "btn btn-info ", style: "width: 100px; height: 50px; margin: 20px; padding-top: 11px;" %><%=current_user.name%></h1>
<div class="container">
 <%= form_tag(products_path, method: :get) do %>
    <%= collection_select :category, :id, Category.all.order('name ASC'), :id, :name,{include_blank: 'Select Category', onchange: "this.form.submit();"} %>
    <%= submit_tag 'Search', name: nil %>
<% end %>
</div>
<div class="container">
  <div class="row p-2"> 
    <% @products.each do |product|%>
      <div class="col-3" >
        <div class="card" >
          <%if product.image.attached? %>
            <%= image_tag(product.image, size: "300x300",alt: "Card image cap", class: "card-img-top") %> 
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= product.price %> ₹</li>
          </ul>
          <div class="card-body">
            <%=button_to line_items_path(:product_id => product.id),data: { confirm: "successfully added to your basket" }, class: "btn btn-warning" , style: "margin-top:15px;" , params:{productID: product.id} do %>
            <i class="glyphicon glyphicon-plus" style="color:black;"></i>
              Add to Basket
            <% end %>
          </div>
        </div>
        <br>
    </div>
    <% end %>
  </div>
  <div class="container row margin-twenty5-zero margin-b-zero pagination-row">
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero">
      <ul class="pagination">
        <li class="disabled"> <%= will_paginate(@products,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0) %></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 pagination-info">
      <span class="pull-right"><%= page_entries_info(@products) %></span>
    </div>
  </div>
</div>
