<style>
    * {
      box-sizing: border-box;
    }

    .columns {
      float: left;
      width: 33.3%;
      padding: 8px;
    }

    .price {
      list-style-type: none;
      border: 1px solid #eee;
      margin: 0;
      padding: 0;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }

    .price:hover {
      box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
    }

    .price .header {
      background-color: #111;
      color: white;
      font-size: 25px;
    }

    .price li {
      border-bottom: 1px solid #eee;
      padding: 20px;
      text-align: center;
    }

    .price .grey {
      background-color: #eee;
      font-size: 20px;
    }

    .button {
      background-color: #191324;
      border: none;
      color: white;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
    }

    @media only screen and (max-width: 600px) {
      .columns {
        width: 100%;
      }
    }
    </style>


<h1><%= link_to "Basket", cart_path(@current_cart), method: :get, class: "btn btn-info ", style: "width: 100px; height: 50px; margin: 20px; padding-top: 11px;" %><%=current_user.name%></h1>
<form class="d-flex">
  <%= form_with url: '/product/index', method: :get, local: true do |form| %>
      <h6 style="color:white;">Categories :</h6> &nbsp
      <div class="form-group">
        <%= form.collection_select(:category_id, Category.all.order('name ASC'), :id, :name, {include_blank: true} , onchange: "this.form.submit();")  %>
      </div> &nbsp &nbsp
  <% end %> 
</form>

</div>
<div class="container">
  <div class="row p-2"> 
    <% @products.each do |product|%>
      <div class="col-3" >
        <div class="card" >
          <%if product.image.attached? %>
            <%= image_tag(product.image, size: "300x300",alt: "Card image cap", class: "card-img-top") %> 
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= product.price %> ₹</li>
          </ul>
          <div class="card-body">
            <%=button_to line_items_path(:product_id => product.id),data: { confirm: "successfully added to your basket" }, class: "btn btn-warning" , style: "margin-top:15px;" , params:{productID: product.id} do %>
            <i class="glyphicon glyphicon-plus" style="color:black;"></i>
              Add to Basket
            <% end %>
          </div>
        </div>
        <br>
    </div>
    <% end %>
  </div>
  <div class="container row margin-twenty5-zero margin-b-zero pagination-row">
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero">
      <ul class="pagination">
        <li class="disabled"> <%= will_paginate(@products,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0) %></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 pagination-info">
      <span class="pull-right"><%= page_entries_info(@products) %></span>
    </div>
  </div>
</div>


<h2 style="text-align:center">Plan Details</h2>
<p style="text-align:center">select plan according to your wish</p>
<div class = "container">
  <% @plans.each do |plan|%>
    <div class="columns">
      <ul class="price">
        <li class="header" style="background-color:#3d244a"><%= plan.billing_cycle %> Months </li>
        <li class="grey"><%= plan.amount%> ₹</li>
        <li><%= plan.description %></li>
        <li><%= plan.billing_cycle %></li>
        <li><%= plan.period.titleize %></li>
        <li><%= link_to "Subscribe", subscriptions_path(id: plan.id), method: :post, class: "button" %></li>
      </ul>
    </div>
  <% end %>
</div>

